@import '../../styles/common-style.scss';
@import './../../styles/flex.scss';

#app-footer{
    position: fixed;
    z-index: 400;
    bottom: 0;
    padding: 0 80px 40px 80px;
    a{
        cursor: pointer;      
        &.menuIsOpen{
            color: #fff;
        }
        &:hover{
            color: #e469a8;
            text-shadow: 0px 0px 8px #e469a8
        }
    }
}
footer{
    @include flexbox();
    @include align-items(center);
    background-color: #000;
    padding: 0 80px;
    height: 350px;
    position: fixed;
    z-index: 200;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    &.close{
      bottom: -350px;   
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    }
    .section{
         @include flex-grow(1);
         @include flex-shrink(1);
         @include flex-basis(0);
         &.footer-center{
             text-align: center;
         }
         &.footer-left{   
            ul{
                li{
                    font-family: 'Poiret One', cursive;
                    color: #fff !important;
                    font-size: 18px; 
                    padding: 10px 0;
                    a{
                        font-family: 'Poiret One', cursive;
                        color: #fff !important;
                        font-size: 18px;
                        color: 0;
                        &:hover{
                            color: #e469a8 !important;
                            text-shadow: 0px 0px 8px #e469a8
                        }
                    }
                }
            } 

            
         }
         &.footer-right{
             h5 , p{
                text-align: right;
                 color: #fff;
                 font-family: 'Amatic SC', cursive;
                 font-weight: lighter;       
             }
            p{
                font-size: 27px;
                &:hover{
                            color: #e469a8;
                }
            }

         }   
    }
}

