<div id="makeup-comp" class="container">
    <dj-gallery>
        <dj-tile src="http://localhost:8080/assets/3.jpg" title="Lexus Like" description="Makeup inspired by Lexus cars"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/1.jpg" title="Lost My Eye" description="Eye injury effect makeup"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/2.jpg" title="Dancing Queen" description="Makeup for night party"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/4.jpg" title="Woman Of Steet" description="Makeup inspired by sience fiction"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/5.jpg" title="Roses" description="Makeup for night party"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/6.jpg" title="Wedding Makeup" description="Makeup for wedding day"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/7.jpg" title="Burn Injury" description="Burn injury effect makeup"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/8.jpg" title="Butgirl" description="Makeup effect for special parties"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/9.jpg" title="Dancing Queen" description="Makeup for night party"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/10.jpg" title="Dancing Queen" description="Makeup for night party"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/11.jpg" title="Skull" description="Makeup effect for special parties"></dj-tile>
        <dj-tile src="http://localhost:8080/assets/12.jpg" title="Skull" description="Makeup effect for special parties"></dj-tile>
    </dj-gallery>
</div>