@import '../../styles/common-style.scss';

#app-socials{
    ul{
        -webkit-transform: rotate(90deg) translateZ(0);
        -moz-transform: rotate(90deg) translateZ(0);
        -ms-transform: rotate(90deg) translateZ(0);
        -o-transform: rotate(90deg) translateZ(0);
        transform: rotate(90deg) translateZ(0);
        width: 409px;
        height: 40px;
        position: fixed;
        z-index: 10;
        top: 390px;
        right: -117px;
        li{
            display: inline-block;
            padding:0px 9px;
             -webkit-transform: translateZ(0); 
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
             transform: translateZ(0); 
            background: transparent;
            cursor: pointer;
            border-top: 3px solid transparent;
            a{
                font-family: 'Poiret One', cursive;
                font-size: 20px;
                text-decoration: none;
                color: #000;
                padding-left: 10px;
            }
            i{
                font-size: 20px;
                 -webkit-transform: rotate(0deg) translateZ(0);
                -moz-transform: rotate(0deg) translateZ(0);
                -ms-transform: rotate(0deg) translateZ(0);
                -o-transform: rotate(0deg) translateZ(0);
                transform: rotate(0deg) translateZ(0);
            }
            &:hover{
                -webkit-transition: all 0.4s; /* Safari */
                transition: all 0.4s;
                background: #000;
                border-top:3px solid #e469a8;
                a{
                    color:#fff;
                }
                i{
                    color:#fff;
                }
            }
        }
    }
}