<div class="dj-gallery">
    <ng-content></ng-content>
</div>
<div class="dj-gallery-popup" [ngClass]="{'open': isGalleryPopupOpen}" (click)="closeGalleryPopup()">
    <div class="dj-gallery-popup-wrapper">
        <h3>{{selectedItem.title}}</h3>
        <img src="{{selectedItem.src}}" />
        <article>{{selectedItem.description}}</article>
    </div>
    <div class="gallery-controls">
        <div>
            <i class="ion-ios-arrow-back-outline" (click)="back($event)"></i>
            <i class="ion-ios-arrow-forward-outline" (click)="forward($event)"></i>
        </div>
            <i class="ion-ios-close" (click)="closeGalleryPopup()"></i>
    </div>
</div>