<html>
    <head>
        <base href="/">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One" rel="stylesheet">
    </head>
    <body>

        <my-root></my-root>

    </body>   
</html>