@import '../../styles/flex.scss';

.app-nav{
    @include flexbox;
    position: fixed;
    z-index: 10000; 
    right: 0; 
    left: 0;
    background-color:transparent;
    box-shadow: 0px 0 0 0;    
    ul{      
        li{
            a{
                color:#000;
                cursor: pointer;
            }
        }
    } 
}  