@import '../../styles/flex.scss';

#navigtion-comp{
    position: fixed;
    z-index: 10000; 
    right: 0; 
    left: 0;
    padding-top: 60px;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
    vertical-align: middle;
    transition: all 0.5s ease-out;
    background: transparent;
    &.scroll-over{
        padding: 0;
        background-color:rgba(255, 255, 255, 1);
        border-bottom:1px solid #dedede;
        transition: all 0.5s ease-out;
    }
    .app-nav{
        @include flexbox;
        background-color:transparent;
        box-shadow: 0px 0 0 0;    
        ul{      
            li{
                a{
                    color:#000;
                    cursor: pointer;
                    font-family: 'Poiret One', cursive;
                    font-size: 20px;
                    font-weight: 700;
                    &:hover{
                         border-bottom:  3px solid rgb(228, 105, 168);
                         color: #fff;
                         background: #000;
                    }
                }

            }
        } 
    }  
    #logo{
        background: url('../../../assets/logo-transparent2.png') no-repeat center center;
    }
}
